*{
    padding: 0;
    margin: 0;
    position: relative;
}
.header{
    background-image: url("Images/hero-cover.3.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.alt{
    display: flex;
    padding-top: 2%;
    text-align: center;

}
ul{


}
ul li{
    display: inline;
    padding: 20px 15px;
    font-size: 15px;
    color: white;
    
    

}
ul li a{
    text-decoration: none;
    
    


}
.nav{
    
}
.ctrl{
    margin-left: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    align-content: center;


}  
.brand{
    font-size: 25px;
}
.ctrl >p { 
    padding-right: 5%;
    color: white;
    padding-top: 3%;
   

}
.ctn{
    background-color: #23A6F0;
    width: 200px;
    color: white;
    font-size: 15px;
}
.enter{
    text-align: center;
    padding-top: 15%;

}
h1 {
    color: white;
    font-weight: bold;
    line-height: 50px;
}
.enter >p{
    color: white;
}
.btn1{
   border-radius: 20px;
   height: 40px;
   width: 120px;
   background-color: #23A6F0;
   color: white;
}

.btn2{
    border-radius: 20px;
    background: transparent;
    height: 40px;
    width: 120px;
    color: white;
}
.shift{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 9%;



}
.wrapper{
    background-color: rgb(233, 231, 231);
    height: 850px;
    
}
.tab{
    width: 20%;
    padding: 20px;
    height: 150px;
    background-color: #fff;
    margin-right: 3%;
  
}

.lock{
    width: 20%;
    padding: 20px;
    height: 150px;
    background-color: #fff;
    margin-right: 3%;
  
}
.pgdn{
    width: 20%;
    padding: 20px;
    height: 150px;
    background-color:#23A6F0;
    margin-right: 3%;
  
}
