*{
    padding: 0;
    margin: 0;
    position: relative;
    
}
.header{
    background-image: url("Images/hero-cover.3.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.alt{
    display: flex;
    padding-top: 2%;
    text-align: center;

}
ul{


}
ul li{
    display: inline;
    padding: 20px 15px;
    font-size: 15px;
    color: white;
    
    

}
ul li a{
    text-decoration: none;
    }
.nav{
    
}
.ctrl{
    margin-left: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    align-content: center;


}  
.brand{
    font-size: 25px;
}
.ctrl >p { 
    padding-right: 5%;
    color: white;
    padding-top: 3%;
   

}
.ctn{
    background-color: #23A6F0;
    width: 200px;
    color: white;
    font-size: 15px;
}
.enter{
    text-align: center;
    padding-top: 15%;

}
h1 {
    color: white;
    font-weight: bold;
    line-height: 50px;
}
.enter >p{
    color: white;
}
.btn1{
   border-radius: 20px;
   height: 40px;
   width: 120px;
   background-color: #23A6F0;
   color: white;
}

.btn2{
    border-radius: 20px;
    background: transparent;
    height: 40px;
    width: 120px;
    color: white;
}
.shift{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 9%;



}
.wrapper{
    background-color: rgb(233, 231, 231);
    height: 850px;
    
}
.tab{
    width: 20%;
    padding: 20px;
    height: 150px;
    background-color: #fff;
    margin-right: 3%;
  
}

.lock{
    width: 20%;
    padding: 20px;
    height: 150px;
    background-color: #fff;
    margin-right: 3%;
  
}
.pgdn{
    width: 20%;
    padding: 20px;
    height: 150px;
    background-color:#23A6F0;
    margin-right: 3%;
  
}
.insert{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10%;

}
.peace{
    margin-right:10%;

}
.set{
    margin-right:10%;

}
.home{
    background-color: rgba(226, 225, 225, 0.993);
   

}
.industry{
  text-align: center;
  padding: 5%;
  
    }
    .par{
        font-weight: bold;
        font-size: 30px;


    }
    .esc{
        display: flex;
        padding-top: 5%;
        justify-content: center;
    }
    .love{
        border: 3px solid rgb(224, 219, 219);
        width: 200px;
        height:300px ;
       background-color: white; 
       padding-top:3% ;
       padding-bottom:3%;
       padding-right: 3%;
       padding-left: 3%;
       margin-right: 3%;
       border-radius: 9px;


    }
    .love >p{
        padding-top: 25%;
    }
    .chirry{
        border: 3px solid rgb(224, 219, 219);
        width: 200px;
        height:300px ;
       background-color: white; 
       padding-top:3% ;
       padding-bottom:3%;
       padding-right: 3%;
       padding-left: 3%;
       margin-right: 3%;
       border-radius: 9px;
}
.chirry >p{
    padding-top: 25%;
}
    
.flora{
    border: 3px solid rgb(224, 219, 219);
    width: 200px;
    height:300px ;
   background-color: white; 
   padding-top:3% ;
   padding-bottom:3%;
   padding-right: 3%;
   padding-left: 3%;
   border-radius: 9px;
}
.flora >p{
    padding-top: 25%;
}
.icons{
    
    justify-content: center;
    margin-top: 100px;
   
   

}
.images img{
    padding: 30px;
  

}
.images{
    display: flex;
    justify-content: center;
}
.box{
    width: 800px;
    
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

    display: flex;
    margin-left: 15%;
    height: 85px;
   

    
}
.subscribe{
    padding: 20px;
    
    color: white;


}
.subscribe >p{
    font-size: 25x;
    left: 20%;
    padding-top: 5%;
    

}
.email{
    padding: 20px;
    margin-left:25%;
    padding-bottom: 20px;
  
}
.type{
    height: 40px;
    width: 250px;
    
    
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.sub{
    background-color:#23A6F0 ;
    color: white;
    height: 43px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 100px;
    right: 1%;
    
}
::placeholder{
    padding-left: 5%;
    
}
/* end of icons */
.holder{
    text-align: center;
    padding: 10%;
    
      }
      .para{
        font-weight: bold;
        font-size: 30px;
      }
      /* .pricing{
       
        } */
        .master{
            justify-content: center;
            display: flex;
        }
        .brie{
            border: 2px solid rgb(123, 190, 192);
            text-align: center;
            height: 500px;
            width: 300px;
            border-radius: 10px;
            background-color: white;
            margin-top: 48px;
            
            }
        .list{
            color: black;
         
        }
        .list >li{
            
            color: black;
            

        }
        .newton{
            border: 2px solid rgb(123, 190, 192);
            text-align: center;
            width: 250px;
            height: 550px;
            border-radius: 10px;
            background-color: #252B42;
            color: white
            
        }
        .newton .list >li{
            color: white;

        }

        .claire{
            border: 2px solid rgb(123, 190, 192);
            text-align: center;
            width: 300px;
            height: 500px;
            border-radius: 10px;
            background-color: white;
            margin-top: 48px;


        }
        .free{
            font-size: 20px;
            padding-top: 15%;
            font-weight: bold;
          
            
        }

        .starndard{
            font-size: 20px;
            padding-top: 15%;
            font-weight: bold;
        }
        .premium{
            font-size: 20px;
            padding-top: 15%;
            font-weight: bold;
        }
        .try{
            color: white;
            background-color:#23A6F0;
            height: 43px;
            border-radius: 6px ;
            font-size: 15px;
            width: 200px;
   

        }
        .wewe{
            color: rgb(104, 101, 101);
            font-size: 20px;
        }
        /* end of pricing */
        .lora{
            background-color: #252B42;
            height: 450px;
            padding: 15%;
            
         

        }
        .neletu{
            color: white;
        }
       
        .beaker{
            padding: 5%;
            display: flex;
            right: 100px;
        }

        .src{
            left:200px;
           
        }
        .main{
            padding-top: 10%;
        }
        .crucial {

            display: flex;
            align-content: center;
        }
        .tiri{
            background-color: white;
            width: 400px;
            height: 450px;
            


            
        }
        .book{
            font-weight: bold;
            font-size: 20px;
            text-align: center;


        } 
        .appointment{
            background-color: #23A6F0;
            color: white;
          
            height: 40px;
            width: 250px;
            border-radius: 6px;
            /* left:  80px;
            */
           
        }
        input{
            height: 40px;
            width: 250px;
            justify-content: center;
            border-radius: 6px;
    
          
        }
        .hez{
            
            padding: 15%;
        }

        
       

        




   





